name: Build and Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    if: github.repository == 'Operacja-System/BigOS'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen
          pip install sphinx breathe ghp-import pydata-sphinx-theme

      - name: Run Doxygen
        run: |
          doxygen docs/Doxyfile

      - name: Build Sphinx docs
        run: |
          make -C docs/ html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/build/html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
